body{
padding: 25px;
margin: 20px;
background-color:#00FFFF;
}
h1{
background-color:blue;
color:#FFFFFF;
text-align:center;
}
form{
margin-right:auto;
margin-left:auto;
}
#box{
text-align:center;
background-position: center;
padding: 5px;
margin-left:auto;
margin-right: auto;
width: 20%;
}
#btn{
position:center;
text-align: center;
margin-left:auto;
margin-right:auto;
}
#para1{
background-color:#FFFFFF;
margin-right:auto;
margin-left:auto;
padding:5px;
}